In [1]:
pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend in c:\users\rajesh\appdata\roaming\python\python311\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (2.1.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\rajesh\appdata\roaming\python\python311\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

##### Create the dataset

In [2]:
dataset = [
    ['Apple','Beer','Rice','Chicken'],
    ['Apple','Beer','Rice'],
    ['Apple','Beer'],
    ['Milk','Beer','Rice','Chicken'],
    ['Milk','Beer','Rice'],
    ['Milk','Beer'],
    ['Milk','Pear'],
]

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [4]:
te = TransactionEncoder()
encoded = te.fit_transform(dataset)

In [5]:
encoded

array([[ True,  True,  True, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False, False],
       [False,  True,  True,  True, False,  True],
       [False,  True, False,  True, False,  True],
       [False,  True, False,  True, False, False],
       [False, False, False,  True,  True, False]])

In [6]:
te.columns_

['Apple', 'Beer', 'Chicken', 'Milk', 'Pear', 'Rice']

In [7]:
df = pd.DataFrame(encoded, columns=te.columns_)

In [8]:
df

   Apple   Beer  Chicken   Milk   Pear   Rice
0   True   True     True  False  False   True
1   True   True    False  False  False   True
2   True   True    False  False  False  False
3  False   True     True   True  False   True
4  False   True    False   True  False   True
5  False   True    False   True  False  False
6  False  False    False   True   True  False

In [9]:
from mlxtend.frequent_patterns import fpgrowth, association_rules

In [10]:
# 1. Find frequent itemset
freq_itemset = fpgrowth(df, min_support=0.25, use_colnames=True)

In [11]:
freq_itemset

     support               itemsets
0   0.857143                 (Beer)
1   0.571429                 (Rice)
2   0.428571                (Apple)
3   0.285714              (Chicken)
4   0.571429                 (Milk)
5   0.571429           (Rice, Beer)
6   0.428571          (Apple, Beer)
7   0.285714          (Apple, Rice)
8   0.285714    (Apple, Rice, Beer)
9   0.285714        (Rice, Chicken)
10  0.285714        (Chicken, Beer)
11  0.285714  (Rice, Chicken, Beer)
12  0.428571           (Beer, Milk)
13  0.285714           (Rice, Milk)
14  0.285714     (Rice, Beer, Milk)

In [12]:
rules = association_rules(freq_itemset, metric='confidence', min_threshold=0.5)

In [13]:
rules.shape

(28, 10)

In [14]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Rice),(Beer),0.571429,0.857143,0.571429,1.000000,1.166667,0.081633,inf,0.333333
1,(Beer),(Rice),0.857143,0.571429,0.571429,0.666667,1.166667,0.081633,1.285714,1.000000
2,(Apple),(Beer),0.428571,0.857143,0.428571,1.000000,1.166667,0.061224,inf,0.250000
3,(Beer),(Apple),0.857143,0.428571,0.428571,0.500000,1.166667,0.061224,1.142857,1.000000
4,(Apple),(Rice),0.428571,0.571429,0.285714,0.666667,1.166667,0.040816,1.285714,0.250000
5,(Rice),(Apple),0.571429,0.428571,0.285714,0.500000,1.166667,0.040816,1.142857,0.333333
6,"(Apple, Rice)",(Beer),0.285714,0.857143,0.285714,1.000000,1.166667,0.040816,inf,0.200000
7,"(Apple, Beer)",(Rice),0.428571,0.571429,0.285714,0.666667,1.166667,0.040816,1.285714,0.250000
8,"(Rice, Beer)",(Apple),0.571429,0.428571,0.285714,0.500000,1.166667,0.040816,1.142857,0.333333
9,(Apple),"(Rice, Beer)",0.428571,0.571429,0.285714,0.666667,1.166667,0.040816,1.285714,0.250000
10,(Rice),"(Apple, Beer)",0.571429,0.428571,0.285714,0.500000,1.166667,0.040816,1.142857,0.333333
11,(Rice),(Chicken),0.571429,0.285714,0.285714,0.500000,1.750000,0.122449,1.428571,1.000000
12,(Chicken),(Rice),0.285714,0.571429,0.285714,1.000000,1.750000,0.122449,inf,0.600000
13,(Chicken),(Beer),0.285714,0.857143,0.285714,1.000000,1.166667,0.040816,inf,0.200000
14,"(Rice, Chicken)",(Beer),0.285714,0.857143,0.285714,1.000000,1.166667,0.040816,inf,0.200000
15,"(Rice, Beer)",(Chicken),0.571429,0.285714,0.285714,0.500000,1.750000,0.122449,1.428571,1.000000
16,"(Chicken, Beer)",(Rice),0.285714,0.571429,0.285714,1.000000,1.750000,0.122449,inf,0.600000
17,(Rice),"(Chicken, Beer)",0.571429,0.285714,0.285714,0.500000,1.750000,0.122449,1.428571,1.000000
18,(Chicken),"(Rice, Beer)",0.285714,0.571429,0.285714,1.000000,1.750000,0.122449,inf,0.600000
19,(Beer),(Milk),0.857143,0.571429,0.428571,0.500000,0.875000,-0.061224,0.857143,-0.500000
20,(Milk),(Beer),0.571429,0.857143,0.428571,0.750000,0.875000,-0.061224,0.571429,-0.250000
21,(Rice),(Milk),0.571429,0.571429,0.285714,0.500000,0.875000,-0.040816,0.857143,-0.250000
22,(Milk),(Rice),0.571429,0.571429,0.285714,0.500000,0.875000,-0.040816,0.857143,-0.250000
23,"(Rice, Beer)",(Milk),0.571429,0.571429,0.285714,0.500000,0.875000,-0.040816,0.857143,-0.250000
24,"(Rice, Milk)",(Beer),0.285714,0.857143,0.285714,1.000000,1.166667,0.040816,inf,0.200000
25,"(Beer, Milk)",(Rice),0.428571,0.571429,0.285714,0.666667,1.166667,0.040816,1.285714,0.250000
26,(Rice),"(Beer, Milk)",0.571429,0.428571,0.285714,0.500000,1.166667,0.040816,1.142857,0.333333
27,(Milk),"(Rice, Beer)",0.571429,0.571429,0.285714,0.500000,0.875000,-0.040816,0.857143,-0.250000

In [15]:
rules = rules[['antecedents','consequents','support','confidence']]

In [16]:
rules

        antecedents      consequents   support  confidence
0            (Rice)           (Beer)  0.571429    1.000000
1            (Beer)           (Rice)  0.571429    0.666667
2           (Apple)           (Beer)  0.428571    1.000000
3            (Beer)          (Apple)  0.428571    0.500000
4           (Apple)           (Rice)  0.285714    0.666667
5            (Rice)          (Apple)  0.285714    0.500000
6     (Apple, Rice)           (Beer)  0.285714    1.000000
7     (Apple, Beer)           (Rice)  0.285714    0.666667
8      (Rice, Beer)          (Apple)  0.285714    0.500000
9           (Apple)     (Rice, Beer)  0.285714    0.666667
10           (Rice)    (Apple, Beer)  0.285714    0.500000
11           (Rice)        (Chicken)  0.285714    0.500000
12        (Chicken)           (Rice)  0.285714    1.000000
13        (Chicken)           (Beer)  0.285714    1.000000
14  (Rice, Chicken)           (Beer)  0.285714    1.000000
15     (Rice, Beer)        (Chicken)  0.285714    0.500000
16  (Chicken, Beer)           (Rice)  0.285714    1.000000
17           (Rice)  (Chicken, Beer)  0.285714    0.500000
18        (Chicken)     (Rice, Beer)  0.285714    1.000000
19           (Beer)           (Milk)  0.428571    0.500000
20           (Milk)           (Beer)  0.428571    0.750000
21           (Rice)           (Milk)  0.285714    0.500000
22           (Milk)           (Rice)  0.285714    0.500000
23     (Rice, Beer)           (Milk)  0.285714    0.500000
24     (Rice, Milk)           (Beer)  0.285714    1.000000
25     (Beer, Milk)           (Rice)  0.285714    0.666667
26           (Rice)     (Beer, Milk)  0.285714    0.500000
27           (Milk)     (Rice, Beer)  0.285714    0.500000

##### Sort the rules

In [17]:
rules.sort_values(by=['confidence','support'], ascending=False)

        antecedents      consequents   support  confidence
0            (Rice)           (Beer)  0.571429    1.000000
2           (Apple)           (Beer)  0.428571    1.000000
6     (Apple, Rice)           (Beer)  0.285714    1.000000
12        (Chicken)           (Rice)  0.285714    1.000000
13        (Chicken)           (Beer)  0.285714    1.000000
14  (Rice, Chicken)           (Beer)  0.285714    1.000000
16  (Chicken, Beer)           (Rice)  0.285714    1.000000
18        (Chicken)     (Rice, Beer)  0.285714    1.000000
24     (Rice, Milk)           (Beer)  0.285714    1.000000
20           (Milk)           (Beer)  0.428571    0.750000
1            (Beer)           (Rice)  0.571429    0.666667
4           (Apple)           (Rice)  0.285714    0.666667
7     (Apple, Beer)           (Rice)  0.285714    0.666667
9           (Apple)     (Rice, Beer)  0.285714    0.666667
25     (Beer, Milk)           (Rice)  0.285714    0.666667
3            (Beer)          (Apple)  0.428571    0.500000
19           (Beer)           (Milk)  0.428571    0.500000
5            (Rice)          (Apple)  0.285714    0.500000
8      (Rice, Beer)          (Apple)  0.285714    0.500000
10           (Rice)    (Apple, Beer)  0.285714    0.500000
11           (Rice)        (Chicken)  0.285714    0.500000
15     (Rice, Beer)        (Chicken)  0.285714    0.500000
17           (Rice)  (Chicken, Beer)  0.285714    0.500000
21           (Rice)           (Milk)  0.285714    0.500000
22           (Milk)           (Rice)  0.285714    0.500000
23     (Rice, Beer)           (Milk)  0.285714    0.500000
26           (Rice)     (Beer, Milk)  0.285714    0.500000
27           (Milk)     (Rice, Beer)  0.285714    0.500000

##### Filter the rules

In [18]:
nrules = rules[rules['confidence'] > 0.5]

In [19]:
nrules.shape

(15, 4)

In [20]:
nrules

        antecedents   consequents   support  confidence
0            (Rice)        (Beer)  0.571429    1.000000
1            (Beer)        (Rice)  0.571429    0.666667
2           (Apple)        (Beer)  0.428571    1.000000
4           (Apple)        (Rice)  0.285714    0.666667
6     (Apple, Rice)        (Beer)  0.285714    1.000000
7     (Apple, Beer)        (Rice)  0.285714    0.666667
9           (Apple)  (Rice, Beer)  0.285714    0.666667
12        (Chicken)        (Rice)  0.285714    1.000000
13        (Chicken)        (Beer)  0.285714    1.000000
14  (Rice, Chicken)        (Beer)  0.285714    1.000000
16  (Chicken, Beer)        (Rice)  0.285714    1.000000
18        (Chicken)  (Rice, Beer)  0.285714    1.000000
20           (Milk)        (Beer)  0.428571    0.750000
24     (Rice, Milk)        (Beer)  0.285714    1.000000
25     (Beer, Milk)        (Rice)  0.285714    0.666667

In [21]:
nrules[nrules['antecedents'] == {'Rice'}]

  antecedents consequents   support  confidence
0      (Rice)      (Beer)  0.571429         1.0

In [22]:
nrules[nrules['antecedents'] == {'Rice'}]['consequents']

0    (Beer)
Name: consequents, dtype: object

In [23]:
nrules[nrules['antecedents'] == {'Apple','Beer'}]['consequents']

7    (Rice)
Name: consequents, dtype: object

In [24]:
nrules[nrules['antecedents'] == {'Apple','Beer'}]

     antecedents consequents   support  confidence
7  (Apple, Beer)      (Rice)  0.285714    0.666667

##### Export the rules

In [25]:
nrules.to_csv('rules.csv', index = False)

PermissionError: [Errno 13] Permission denied: 'rules.csv'